figure {
  width: 75%;
  text-indent: 0;
  margin: 0.5em;
  padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.markdown figure h4 {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}
