:lang(es) .theorem::before { content: 'Teorema: ' !important; }
:lang(es) .lemma::before { content: 'Lema: ' !important; }
:lang(es) .proof::before { content: 'Demostración: ' attr(title) !important; }
:lang(es) .definition::before { content: 'Definición: ' !important; }
